---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import heroImage from "@images/wordpress-girona.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/wordpress-girona.avif";
import tools from "@images/wordpress-girona-2.avif";
import dashboard from "@images/wordpress-girona-3.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>


  <HeroSection
    title=`WordPress <span
        class="text-yellow-500 dark:text-yellow-400">Girona</span>`
    subTitle="Top-quality WordPress Developer from Girona. I can help you with any problem related to WordPress. Doesn't matter if plugins, themes, or customization—I've got you covered. Experience smooth and stress-free website creation tailored exactly to your needs. From your friendly Girona WordPress Dev."
    primaryBtn="Contact Me"
    primaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />



  <FeaturesGeneral
    title="Your WordPress Fixer in Girona"
    subTitle="I solve WordPress problems fast. Whether you need a brand new website or want to improve an existing one, I'm your go-to in Girona. I make WordPress simple for you—setting up, customizing, and optimizing without the hassle. Count on me to make your WordPress effective and enjoyable for your Girona visitors."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Customize Your <span class="text-yellow-500 dark:text-yellow-400">WordPress Site</span> to Perfectly Suit Your Needs, Straight from the Heart of Girona.`
    tabs={[
      {
        heading: "Responsive Designs",
        content:
          "Adapt your site for any device with my responsive WordPress designs. Ensure a seamless user experience with layouts that adjust beautifully to screens of all sizes.",
        svg: "tools",
        src: tools,
        alt: "wordpress girona responsive",
        first: true,
      },
      {
        heading: "Powerful Plugins",
        content:
          "Enhance your website's functionality with my selection of powerful WordPress plugins. From SEO to security—discover plugins that elevate your site's performance.",
        svg: "dashboard",
        src: dashboard,
        alt: "wordpress plugins",
        second: true,
      },
      {
        heading: "Inspired by Girona",
        content:
        "Craft your website with a design inspired by the beauty of Girona. My custom WordPress themes bring a touch of local charm, connecting your brand to the vibrant streets of our city.",
        svg: "house",
        src: construction,
        alt: "girona",
      },
    ]}
  />



  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's a WordPress together"
    subTitle="Contact me and let's get started with your WordPress website, straight from Girona."
    url="/contact"
  />
</MainLayout>
